<?xml version="1.0" encoding="utf-8"?>

<robot name="robotic_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="hand_pos">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:macro>
  <link name="hand">
    <inertial>
      <origin xyz="0 0 -2.2218632e-02" rpy="0 0 0" />
      <mass value="6.8626074e-01" />
      <inertia 
      ixx="1.5355271e-03" 
      ixy="0.0000000e-00" 
      ixz="0.0000000e-00" 
      iyy="2.1388134e-04" 
      iyz="0.0000000e-00" 
      izz="1.5163193e-03" />
    </inertial>
    <visual>
      <xacro:hand_pos/>
      <geometry>
        <mesh filename="package://robotic_arm/meshes/hand.STL"
         scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <xacro:hand_pos/>
      <geometry>
        <mesh filename="package://robotic_arm/meshes/hand.STL"
         scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
</robot>